<div class="card mb-2">
  <div class="card-body">
    <h3><%= part.title %></h3>
    <%= part.body.html_safe %>
    <%= link_to 'Edit', edit_presentation_part_path(@presentation, part) %>
  </div>
</div>