$enable-rounded: false;

$headings-font-weight: 900;

@import '~bootstrap/scss/bootstrap';

:root {
  --brand: #000;
  --brand-text: #fff;

  --site-container: 1200px;
  --spacing: 30px;

  --default: royalblue;
  --default-light: lightblue;

  --danger: darkred;
  --danger-light: red;

}

.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.site-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 20vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing);
}

.title-control {
  border: 0;
  font-size: 200%;
  width: 100%;
  padding: 0;
}

.editable,
.title-control {
  &:focus {
    outline: none;
  }
}