<div class="card">
  <% if presentation.cover.attached? %>
    <%= image_tag presentation.cover.variant(resize: "250x250"), class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h3><%= link_to presentation.title, presentation %></h3>
    
    <div class="<%= dom_id(presentation) %>-likes">
      <%= render partial: "presentations/likes", locals: { presentation: presentation } %>
    </div>
  </div>
</div>