<h1>Presentations</h1>
<%= link_to 'New Presentation', new_presentation_path %>

<div class="grid mt-2">
  <% if @presentations.any? %>
    <%= render @presentations %>
  <% else %>
    <td>Nope</td>
  <% end %>
</div>
