<h1>Presentations</h1>
<%= link_to 'New Presentation', new_presentation_path %>

<div class="grid mt-2">
    <% if @presentations.any? %>
    <% @presentations.each do |presentation| %>
      <div class="card">
        <div class="card-body">
          <h3><%= presentation.title %></h3>
          <%= link_to presentation.title, presentation, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_presentation_path(presentation), class: "btn btn-link" %>
        </div>
      </div>
    <% end %>
    <% else %>
      <td>Nope</td>
    <% end %>
</div>
