<h1>Prezes</h1>

<% @users.each do |user| %>
  <div class="users mb-4">
  <% if user.nickname.present? %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar.variant(resize: "20x20") %>
      <% else %>
        <%= image_tag user.avatar_url, width: 20 %>
      <% end %>
      <h3><%= link_to user.nickname, user_path(user.id) %></h3>
  <% end %>
  </div>
<% end %>